{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div>
        <h1>Catégories</h1>
        {% for category in categories %}
        <a href="{{ path('app_category_show', {id : category.id}) }}">
            <div>
                <h2>{{ category.name }}</h2>
            </div>
        </a>
        {% else %}
            Aucune Catégorie trouvée.
        {% endfor %}
    </div>
    <div>
        <h1>Wilder créateur</h1>
        {% for user in users %}
            <a href="{{ path('app_user_show', {id : user.id}) }}">
                <div>
                    <h2>{{ user.lastname }} {{ user.firstname }}</h2>
                </div>
            </a>
        {% else %}
            Aucune Wilder créateur trouvé.
        {% endfor %}
    </div>
{% endblock %}
