{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {% for beer in beers %}
            <div>
                <h3><a href="{{ path('app_beer_show', {id : beer.id}) }}">{{ beer.name }}</a></h3>
                <p>{{ beer.description }}</p>
                <p>{{ beer.alcoholContent }}</p>
                <p>{{ beer.createdBy.fullName }}</p>
            </div>
    {% else %}
        Aucune bière trouvée.
    {% endfor %}
{% endblock %}
