{% extends 'base.html.twig' %}

{% block title %}Beer{% endblock %}

{% block body %}
    <div>
        <h1>{{ beer.name }}</h1>
    </div>
    <div>
        <div>
            <h3>Description</h3>
            <p>{{ beer.description }}</p>
        </div>
        <div>
            <div>
                <h3>Catégorie:</h3>
                <p>{{ beer.category.name }}</p>
            </div>
            <div>
                <h3>Teneur en alcool:</h3>
                <p>{{ beer.alcoholContent }}</p>
            </div>
            <div>
                <h3>Crée par:</h3>
                <p>{{ beer.createdBy.fullName }}</p>
            </div>
        </div>
    </div>

    <a href="{{ path('app_beer_edit', {'id': beer.id}) }}">edit</a>
{% endblock %}
